{% import 'admin-panel.html' as admin %}
<!-- This file defines the base layout of all pages. -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Meta tags -->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{% block title %}Writing in Color{% endblock %}</title>

		<!-- CSS -->
		<link rel="stylesheet" href="/static/css/core.css" />
		<link rel="stylesheet" href="/static/css/hover-menu.css" />

		<!-- JavaScript -->
		<script type="module" src="/static/javascript/bundle/core.js"></script>

		{% block head %}{% endblock %} {% if user and user.roles.includes("admin")
		%} {{ admin.admin_imports() }} {% endif %}
	</head>
	<body>
		{% if user and user.roles.includes("admin") %} {{ admin.admin_panel() }} {%
		endif %}
		<header>
			<img src="/static/media/image/logotype/logotype.svg" />
			<nav>
				<div class="hover-menu">
					<div class="hover-menu__text">
						<img src="/static/media/image/icon/person-circle.svg" width="30" />
					</div>
					<div class="hover-menu__content">
						<menu class="menu-bar vertical">
							{% if user %}
							<li class="hover-menu__item clickable">Profile</li>
							<li class="hover-menu__item clickable">Settings</li>
							<li
								class="hover-menu__item clickable"
								onclick="window.location.href='/logout'"
							>
								Log out
							</li>
							{% else %}
							<li
								class="hover-menu__item clickable"
								onclick="window.location.href='/login'"
							>
								Login
							</li>
							{% endif %}
						</menu>
					</div>
				</div>
				<div id="menu-button" style="width: 30px">
					<img src="/static/media/image/icon/Menu.svg" width="30" />
					<img src="/static/media/image/icon/Menu-1.svg" width="30" />
				</div>
			</nav>
		</header>
		{% block body %}{% endblock %}
		<footer>
			<!-- TODO: put global footer content here. -->
		</footer>
	</body>
</html>
