{% import 'admin-panel.html' as admin %}
<!-- This file defines the base layout of all pages. -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Meta tags -->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="theme-color" content="#fff7ee" />
		<!-- WiC-36: Add all meta tags. TODO -->

		<title>{% block title %}Writing in Color{% endblock %}</title>

		<!-- CSS -->
		<link rel="stylesheet" href="/static/css/core.css" />
		<link rel="stylesheet" href="/static/css/hover-menu.css" />

		<!--Font-->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

		<!-- JavaScript -->
		<script type="module" src="/static/javascript/bundle/core.js"></script>

		<!-- Passive Authentication -->
		{% if not user %}
		<script
			type="module"
			src="/static/javascript/bundle/passive-authentication.js"
		></script>
		{% endif %}

		<!-- Admin Panel -->
		{% block head %}{% endblock %} {% if user and user.roles.includes("admin")
		%} {{ admin.admin_imports() }} {% endif %}
	</head>

	<body>
		{% if user and user.roles.includes("admin") %} {{ admin.admin_panel() }} {%
		endif %} {% block body %}{% endblock %}
	</body>
</html>
