{% extends "layout.html" %} {% block head %}
<link rel="stylesheet" href="/static/css/user-profile.css" />
<meta name="page-raw-template" content="/my-profile.html" />
<script>
	var user = {{user|stringify|safe}}
</script>
<script src="/static/javascript/bundle/userProfile.js"></script>
{% endblock %} {% block body %}
<main>
	<h1>Hello, {{ user.first_name }}!</h1>
	<a href="/">Back to Home Page</a>
	<button id="save-button" disabled>Save</button>
	<br />
	<a href="/logout">Logout</a>
	<h2>Name</h2>
	<input
		type="text"
		value="{{ user.first_name }}"
		id="first-name"
		placeholder="First Name"
	/>
	<input
		type="text"
		value="{{ user.last_name }}"
		id="last-name"
		placeholder="Last Name"
	/>
	<h2>Email</h2>
	<div id="email-container" class="templated">
		{% for email in user.emails %}
		<div clas="email-data">
			<span class="email">{{ email.email }}</span>
			{% if email.is_primary %}
			<span class="is-primary">Primary</span>
			{% else %}
			<button class="make-primary-button" data-email="{{ email.email }}">
				Make Primary
			</button>
			{% endif %}
			<span class="created-at">{{ email.created_at }}</span>
			<button class="remove-email-button" data-email="{{ email.email }}">
				Remove
			</button>
		</div>
		{% endfor %}
	</div>
	<button id="add-email-button">Add Email</button>
	<h2>Passkeys</h2>
	<div id="passkey-container" class="templated">
		{% for passkey in user.passkeys %}
		<div class="passkey-data">
			<span class="passkey">Passkey #{{loop.index}}</span>
			<span class="created-at">{{passkey.created_at}}</span>
		</div>
		{% endfor %}
	</div>
	<button id="add-passkey-button">Add Passkey</button>
</main>
{% endblock %}
