// Import fonts
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght,SOFT,WONK@0,9..144,100..900,0..100,0..1;1,9..144,100..900,0..100,0..1&family=Inter:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat+Subrayada:wght@400;700&display=swap");

// Color Scheme Definitions
$light-background-color: #ffe8ce;
$lighter-background-color: #fff7ee;
$dark-background-color: rgb(29, 29, 29);
$darker-background-color: rgb(10, 10, 10);
$accent-color: #af3750; //rgb(0, 122, 255);
$dark-font-color: black;
$light-font-color: white;
$header-padding: 15px;
$header-height: 75px;
$border-input-color: #b8b8b8;
$standard-shadow: 0 7px 7px rgba(0, 0, 0, 0.25);
// You can change any of these, add new ones, remove them. Just make sure to update their usage in the other SCSS files that rely on this one.
:root {
	// CSS Variables
}
* {
	box-sizing: border-box;
}

html,
body {
	min-height: 100vh;
	width: 100%;
	overflow-x: hidden;
}
body {
	background-color: $light-background-color;
	color: $dark-font-color;
	margin: 0;
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-style: normal;
	overflow-y: auto;
}

// Simple Helper classes
.clickable {
	cursor: pointer;
}

.dark-background-color {
	background-color: $dark-background-color;
}

.light-background-color {
	background-color: $light-background-color;
}

.lighter-background-color {
	background-color: $lighter-background-color;
}

.dark-font-color {
	color: $dark-font-color;
}

.light-font-color {
	color: $light-font-color;
}

.accent-color {
	background-color: $accent-color;
}

//top header
header {
	position: sticky;
	padding: 1rem $header-padding;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: $lighter-background-color;
	height: 80px;
}

.header-container {
	display: flex;
	align-items: center;
	background-color: #fff7ee;
	height: 100%;
	padding: 0 2rem;
	flex: 1;
}

.header-container .logo {
	width: 100px;
	height: auto;
	cursor: pointer;
}

.header-container h1 {
	margin: 0 auto;
	color: #333;
	text-align: center;
	flex: none;
	cursor: pointer;
	font-family: "Fraunces", serif;
	font-weight: 400;
}

.donate-container,
.login-container,
.menu-container {
	display: flex;
	align-items: center;
	padding-right: 1rem;
	background-color: #fff7ee;
}

.donate-button {
	background-color: #a33a3a;
	color: #fff;
	border: none;
	padding: 0.5rem 1rem;
	border-radius: 4px;
	cursor: pointer;
}

#login-icon {
	cursor: pointer;
}
//MENU NAV BAR SCSS
#menu-bar {
	display: flex;
	flex-direction: column;
	gap: -1px;
	cursor: pointer;
}

#menu-button {
	position: fixed;
	top: 0;
	left: 0;
	max-width: 210px;
	height: 100%;
	background-color: white;
	color: #333;
	padding: 20px;
	display: flex;
	border-radius: 10px;
	flex-direction: column;
	justify-content: space-between;
	border-left: 1px solid #e0e0e0;
	box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
	transform: translateX(-300px);
	transition: transform 0.3s ease-in-out;
	z-index: 100;
	border-color: #333;
	border-width: 1px;
}

#menu-button.show {
	transform: translateX(0);
}

#menu-button img {
	width: 20px;
	margin-right: 10px;
}

#menu-button p {
	margin: 10px 0;
	display: flex;
}

#welcome-phrase {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 5px;
}

#profile-type {
	font-size: 14px;
	color: #666;
	margin-bottom: 20px;
	align-items: center;
}

.main-menu,
.account-settings {
	display: flex;
	flex-direction: column;
}

.main-menu p,
.account-settings p {
	margin: 10px 0;
	cursor: pointer;
	display: flex;
	align-items: center;
}

.main-menu img,
.account-settings img {
	margin-right: 10px;
}

.main-menu > p:first-child,
.account-settings > p:first-child {
	font-size: 12px;
	font-weight: bold;
	color: #999;
	margin-top: 20px;
	margin-bottom: 10px;
}

.main-menu p:hover,
.account-settings p:hover {
	background-color: #f0f0f0;
	border-radius: 5px;
}

.main-menu .submenu,
.account-settings .submenu {
	display: none;
	padding-left: 20px;
	font-size: 14px;
	color: #666;
}

.main-menu p.active .submenu,
.account-settings p.active .submenu {
	display: block;
}

.arrow {
	margin-left: auto;
	transform: rotate(360deg);
}

.active .arrow {
	transform: rotate(-180deg);
}

//background image for the courses section
.background-image1 {
	position: absolute;
	top: 0;
	left: -20px;
	width: 103%;
	height: 100%;
	object-fit: fill;
	z-index: -1;
}
//courses layout and grid
.courses,
.mission,
.testimonials,
.founders {
	margin-top: 2rem;
	position: relative;
}
.founder-grid {
	display: flex;
	gap: 2rem;
	position: relative;
	z-index: 1;
}

.course,
.testimonial,
.founder {
	position: relative;
	z-index: 2;
	padding: 1rem;
	border: 1px solid #ccc;
	// border-radius: 8px;
	background-color: #fff;
}

h2 {
	margin-bottom: 1rem;
	color: #333;
}
//Check it out phrase
.phrase {
	font-family: "Montserrat Subrayada", sans-serif;
	font-weight: 400;
	font-style: normal;
}

p {
	margin-bottom: 1rem;
	color: $dark-font-color;
}

.star-container {
	display: inline-flex;
	align-items: center;
	position: relative;
	gap: 5px;
	justify-content: space-evenly;
}

.star-container svg {
	display: flex;
	color: gold;
}

.star-overlay {
	background-color: black;
	mix-blend-mode: color;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}

@media (max-width: 1000px) {
	.mission .image-section {
		display: none; // Hide the image when screen width is 768px or smaller
	}
	.hero .text-section,
	.mission .text-section {
		font-size: large;
		width: 70%;
		padding: 10px;
	}

	.hero .text-section,
	.mission .text-section,
	.hero .image-section,
	.mission .image-section {
		width: 50px;
	}
	#site-title {
		display: none;
	}
	#donate-button,
	#menu-button,
	#login-icon {
		justify-content: flex-end;
	}
	.header-container {
		display: flex;
		justify-content: flex-end;
	}
	.logo {
		display: flex;
		justify-content: flex-start;
		margin-right: auto;
		left: -100px;
	}
}
@media screen and (max-width: 400px) {
	#donate-button {
		display: none;
	}
}
//Footer CSS
footer {
	background-color: #fff7ee;
	padding: 50px;
	margin-top: 100px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.icons {
	flex-direction: column;
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.footer-logo {
	width: 100px;
	height: auto;
}

.footer-phrase {
	font-size: 20px;
	color: #5e4b43;
}
.social-icons-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 10px;
}
.social-button {
	cursor: pointer;
	width: 35px;
	height: 35px;
}

.seperate {
	width: 70%;
	height: auto;
	margin-top: 20px;
}

.guidelines {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 400px;
	max-width: 100%;
	padding-top: 10px;
	font-size: 12px;
}

.privacy {
	font-size: medium;
	margin: 5px 0;
}

#nonprofit {
	margin: 5px 0;
	line-height: 1.5;
	text-align: center;
}
.background {
	position: absolute;
	z-index: -5;
}
#footer-buttons {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-top: 15px;
	* {
		padding: 10px 20px;
		border: none;
		border-radius: 5px;
		font-size: 15px;
		cursor: pointer;
	}
	#email-button {
		background-color: black;
		color: white;
	}
}
