//@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&display=swap");
//@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght,SOFT,WONK@0,9..144,100..900,0..100,0..1;1,9..144,100..900,0..100,0..1&display=swap");
// Color Scheme Definitions
$light-background-color: #ffe8ce;
$lighter-background-color: #fff7ee;
$dark-background-color: rgb(29, 29, 29);
$darker-background-color: rgb(10, 10, 10);
$accent-color: #af3750; //rgb(0, 122, 255);
$dark-font-color: black;
$light-font-color: white;
$header-padding: 15px;
$header-height: 75px;
// You can change any of these, add new ones, remove them. Just make sure to update their usage in the other SCSS files that rely on this one.

* {
	box-sizing: border-box;
}

body {
	background-color: $light-background-color;
	color: $dark-font-color;
	margin: 0;
	padding: 0;
}
html * {
	font-family: "Fraunces", serif;
	font-weight: 400;
	font-style: normal;
}

main {
	padding: 20px;
}

// Simple Helper classes
.clickable {
	cursor: pointer;
}

.dark-background-color {
	background-color: $dark-background-color;
}

.light-background-color {
	background-color: $light-background-color;
}

.lighter-background-color {
	background-color: $lighter-background-color;
}

.dark-font-color {
	color: $dark-font-color;
}

.light-font-color {
	color: $light-font-color;
}

.accent-color {
	background-color: $accent-color;
}

//top header
header {
	position: sticky;
	padding: 1 rem var(--header-padding);
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--lighter-background-color);
	height: 80px;
}

.header-container {
	display: flex;
	align-items: center;
	background-color: #fff7ee;
	height: 100%;
	padding: 0 2rem;
	flex: 1;
}

.header-container .logo {
	width: 100px;
	height: auto;
	cursor: pointer;
}

.header-container h1 {
	margin: 0 auto;
	color: #333;
	text-align: center;
	flex: none;
	cursor: pointer;
}

.donate-container,
.login-container,
.menu-container {
	display: flex;
	align-items: center;
	padding-right: 1rem;
	background-color: #fff7ee;
}

.donate-button {
	background-color: #a33a3a;
	color: #fff;
	border: none;
	padding: 0.5rem 1rem;
	border-radius: 4px;
	cursor: pointer;
}

#login-icon {
	cursor: pointer;
}

#menu-button {
	display: flex;
	flex-direction: column;
	gap: -1px;
	cursor: pointer;
}

// Main Page

main {
	display: grid;
	gap: 2rem;
	padding: 2rem;
}

//create 1x2 grid
.hero .container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	gap: 2rem;
}
.mission .container {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	gap: 2rem;
	flex-direction: row;
	.text-section {
		h2 {
			font-size: 1.75rem;
			font-weight: bold;
		}
		p {
			font-size: 1.25rem;
			font-weight: normal;
		}
	}
}
.hero .text-section {
	grid-column: 1 / 2;
	font-size: 1.5rem;
}
.hero .image-section {
	grid-column: 2 / 3;
}
.mission .image-section {
	height: 80%;
	min-width: 300px;
}
.mission .text-section {
	min-width: 500px;
}
.hero .image-section img,
.mission .image-section img {
	max-width: 100%;
	height: auto;
}

//background image for the courses section
.background-image1 {
	position: absolute;
	top: 0;
	left: -20px;
	width: 103%;
	height: 100%;
	object-fit: fill;
	z-index: -1;
}
//courses layout and grid
.courses,
.mission,
.testimonials,
.founders {
	margin-top: 2rem;
	position: relative;
}
.founder-grid {
	display: flex;
	gap: 2rem;
	position: relative;
	z-index: 1;
}

.founder-grid {
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.course,
.testimonial,
.founder {
	position: relative;
	z-index: 2;
	padding: 1rem;
	border: 1px solid #ccc;
	border-radius: 8px;
	background-color: #fff;
}

h2 {
	margin-bottom: 1rem;
	color: #333;
}
//Check it out phrase
.phrase {
	font-family: "Montserrat Subrayada", sans-serif;
	font-weight: 400;
	font-style: normal;
}

p {
	margin-bottom: 1rem;
	color: $dark-font-color;
}

//Courses Setup and Grid
.course-grid,
.testimonial-grid {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: space-evenly;
}
.course-grid {
	.course {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 10px;
		padding: 20px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		border-radius: 8px;
		background-color: #fff;
		width: 350px;
		text-align: flex-start;
		position: relative;
		.course-image {
			width: 100%;
			height: 50%;
			border-radius: 8px;
			object-fit: cover;
		}
		.course-header {
			display: flex;
			align-items: center;
			gap: 10px;
			justify-content: center;
			h3 {
				flex: 1;
				margin: 10px 0;
				font-size: 1.4em;
			}
		}
		p {
			font-size: 1em;
			color: #555;
			margin: 0;
		}
		.time_course-item {
			display: flex;
			align-items: center;
			img {
				margin-right: 8px;
				width: 24px;
				height: auto;
			}
		}
	}
}

.education_icon,
.time_icon,
.cursor_icon {
	margin: 5px 0;
	width: 24px;
	height: auto;
}

.star-container {
	display: inline-flex;
	align-items: center;
	position: relative;
	gap: 2px;
	justify-content: space-evenly;
}

.star-container svg {
	width: 1em;
	display: flex;
	color: gold;
}

.star-overlay {
	background-color: black;
	mix-blend-mode: color;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}

@media (max-width: 1000px) {
	.mission .container {
		flex-wrap: wrap;
	}
	main {
		padding: 1rem;
	}

	.hero .container,
	.container {
		grid-template-columns: 1fr;
		gap: 10px;
	}
	.hero .text-section,
	.mission .text-section {
		font-size: large;
		width: 70%;
		padding: 10px;
	}

	.hero .text-section,
	.mission .text-section,
	.hero .image-section,
	.mission .image-section {
		width: 72.5%;
		grid-column: 1 / -1;
	}

	.testimonial-grid,
	.founder-grid {
		justify-content: flex-end;
		grid-template-columns: 1fr;
	}

	.course {
		max-width: 100%;
		width: 300px;
		height: 510px;
	}
	#site-title {
		display: none;
	}
	#donate-button,
	#menu-button,
	#login-icon {
		justify-content: flex-end;
	}
	.header-container {
		display: flex;
		justify-content: flex-end;
	}
	.logo {
		display: flex;
		justify-content: flex-start;
		margin-right: auto;
		left: -100px;
	}
}
//Footer CSS
footer {
	background-color: #fff7ee;
	padding: 50px;
	margin-top: 100px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.icons {
	flex-direction: column;
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.footer-logo {
	width: 100px;
	height: auto;
}

.footer-phrase {
	font-size: 20px;
	color: #5e4b43;
}
.social-icons-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 10px;
}
#social-fb {
	cursor: pointer;
	width: 35px;
	height: 35px;
}
#social-X {
	cursor: pointer;
	width: 35px;
	height: 35px;
}
#social-insta {
	cursor: pointer;
	width: 35px;
	height: 35px;
}

.button-email {
	cursor: pointer;
	width: 80px;
	height: auto;
	margin-top: 15px;
}

.seperate {
	width: 70%;
	height: auto;
	margin-top: 20px;
}

.guidelines {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 40%;
	padding-top: 10px;
	font-size: 12px;
}

.privacy {
	font-size: medium;
	margin: 5px 0;
}

.nonprofit {
	margin: 5px 0;
	line-height: 1.5;
	text-align: center;
}

//FOUNDERS
.founders-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	.founder {
		background-color: transparent;
		border-color: transparent;
		align-items: center;
		gap: 2rem;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		padding-top: 50px;
		.founder-image {
			width: 150px;
			height: 150px;
		}
		.founder-info {
			display: flex;
			flex-direction: column;
			gap: 0;
			.founder-name {
				font-size: 28px;
				height: 40px;
			}
			.founder-role {
				font-weight: 200;
				font-size: 20px;
			}
			.founder-bio {
				font-size: 1.15rem;
				margin-top: 15px;
			}
		}
	}
}
.founders-background {
	position: absolute;
	top: 0;
	left: -40px;
	width: 105%;
	height: 105%;
	object-fit: fill;
	z-index: -1;
}
#other-font {
	font-family: "Montserrat Subrayada", sans-serif;
	font-weight: 400;
	font-style: normal;
	margin-top: 50px;
	margin-left: 20px;
}
#founder-phrase {
	margin-top: 20px;
	margin-left: 20px;
}

// TESTIMONIALS
#testimonial-section {
	padding-top: 50px;
	position: relative;
}
#testimonial-header {
	text-align: center;
	font-size: 28px;
	margin-bottom: 20px;
}

.testimonials {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	gap: 20px;
	margin-top: 50px;
	margin-bottom: 200px;
}

.statement {
	background-color: transparent;
	border-color: transparent;
	position: relative;
	background-size: cover;
	background-position: center;
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-width: 0;
	box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
}

.test-grid {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 70%;
	height: auto;
	gap: 10px;
}

.row-test {
	text-align: center;
	background-color: white;
	padding: 20px;
	font-size: 22px;
	width: 120%;
}

.row2 {
	align-items: center;
	margin: auto;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	z-index: 0;
}

.person1,
.person2,
.person3 {
	width: 100%;
	height: auto;
}

.testimonial-background {
	position: absolute;
	width: 105%;
	height: 110%;
	z-index: -1;
	top: -30px;
	left: -40px;
}
