@use "sass:math";

@import "core.scss";

$text-edit-element-size: 1.75em;
$editor-menu-padding: 0.75em;
$editor-menu-gap: 0em;
$round-element-padding: 0.33em;
$color-picker-input-size-ratio: math.div(8, 3);

@mixin round {
	border-radius: 50%;
	overflow: hidden;
}
@mixin text-edit-element {
	aspect-ratio: 1 / 1;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	line-height: $text-edit-element-size;
	vertical-align: middle;
	cursor: default;
}

.editor-menu {
	background-color: white; // TODO; set this to one of the predefined colors in core.scss
	width: min-content;
	height: $text-edit-element-size + 2 * $editor-menu-padding;
	border-radius: $text-edit-element-size + 2 * $editor-menu-padding; // Having the border radius set to the height gives it that nice rounding look.
	box-sizing: border-box;
	z-index: 99999;

	// Display options
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	gap: $editor-menu-gap;
	padding: $editor-menu-padding;
	// A nice shadow
	box-shadow: 0 3px 5px 3px rgba(0, 0, 0, 0.1);

	// Font options
	font-family: "Inter", sans-serif;
	font-size: 1em;

	.font-selector,
	.font-size-selector {
		// These are longer and rectangular.
		width: 3.33em;
	}
	.font-size-selector-wrapper {
		.font-size-selector {
			border: none;
			appearance: textfield;
			font-size: 1em;
			text-align: center;
			outline: none;
			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}
		}
		&:hover {
			background-color: $light-background-color;
			.font-size-selector {
				background-color: $light-background-color;
			}
		}
	}
	.bold-toggle {
		font-weight: bold;
	}
	.strikethrough-toggle {
		text-decoration: line-through;
	}
	.underline-toggle {
		text-decoration: underline;
	}
	& > * {
		@include text-edit-element;
		user-select: none; // Disable text selection
		height: $text-edit-element-size + 2 * $editor-menu-padding;
		width: $text-edit-element-size + 2 * $editor-menu-padding;
		&:hover {
			background-color: $light-background-color;
		}
		&:first-child {
			height: $text-edit-element-size;
			width: $text-edit-element-size;
		}
	}
	& > .menu-item-round {
		@include round;
		height: $text-edit-element-size + 2 * $round-element-padding;
		width: $text-edit-element-size + 2 * $round-element-padding;
		padding: $round-element-padding;
	}
}

// To make the color picker round
.color-picker-wrapper {
	@include round;
	@include text-edit-element;
	position: relative;
	height: $text-edit-element-size;
	width: $text-edit-element-size;
	padding: 0;
}
.color-picker-wrapper input[type="color"] {
	position: absolute;
	height: $color-picker-input-size-ratio * $text-edit-element-size;
	width: $color-picker-input-size-ratio * $text-edit-element-size;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	border: none;
	margin: 0;
	padding: 0;
}
