@use "sass:math";

@import "core.scss";

$text-edit-element-size: 1.75em;
$editor-menu-padding: 0.75em;
$editor-menu-gap: 0em;
$round-element-padding: 0.33em;
$color-picker-input-size-ratio: math.div(8, 3);

@mixin round {
	border-radius: 50%;
}
@mixin text-edit-element {
	aspect-ratio: 1 / 1;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	line-height: $text-edit-element-size;
	vertical-align: middle;
	cursor: default;
}

.editor-menu {
	background-color: white; // TODO; set this to one of the predefined colors in core.scss
	width: min-content;
	height: $text-edit-element-size + 2 * $editor-menu-padding;
	border-radius: $text-edit-element-size + 2 * $editor-menu-padding; // Having the border radius set to the height gives it that nice rounding look.
	box-sizing: border-box;
	z-index: 11;
	visibility: hidden;

	// Display options
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	gap: $editor-menu-gap;
	padding: $editor-menu-padding;
	margin: 0;
	// A nice shadow
	box-shadow: 0 3px 5px 3px rgba(0, 0, 0, 0.1);

	// Font options
	font-family: "Inter", sans-serif;
	font-size: 1em;

	.font-selector,
	.font-size-selector {
		// These are longer and rectangular.
		width: 3.33em;
	}
	.font-selector {
		position: relative;
		& > .font-selector-menu {
			position: absolute;
			top: 100%;
			left: 0;
			display: none;
			visibility: hidden;
			width: 200px;
			&.show {
				display: block;
				visibility: visible;
				animation: fadeInSlideDown 0.3s ease-in-out forwards;
			}
			ul {
				list-style: none;
				background-color: white;
				height: 300px;
				overflow-y: scroll;
				padding: 0;
				.font-item {
					cursor: pointer;
					margin: 0;
					&.selected {
						background-color: $light-background-color;
					}
				}
			}
		}
	}
	.link-button-wrapper {
		position: relative;
		#link-manager {
			position: absolute;
			top: 100%;
			left: 0;
			display: none;
			visibility: hidden;
			background-color: white;
			padding: 10px;
			&.show {
				display: block;
				visibility: visible;
				animation: fadeInSlideDown 0.3s ease-in-out forwards;
			}
		}
	}
	.font-size-selector-wrapper {
		.font-size-selector {
			border: none;
			appearance: textfield;
			font-size: 1em;
			text-align: center;
			outline: none;
			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}
		}
		&:hover {
			background-color: $light-background-color;
			.font-size-selector {
				background-color: $light-background-color;
			}
		}
	}
	.bold-toggle {
		font-weight: bold;
	}
	.strikethrough-toggle {
		text-decoration: line-through;
	}
	.underline-toggle {
		text-decoration: underline;
	}
	& > * {
		@include text-edit-element;
		user-select: none; // Disable text selection
		height: $text-edit-element-size + 2 * $editor-menu-padding;
		width: $text-edit-element-size + 2 * $editor-menu-padding;
		&:hover {
			background-color: $light-background-color;
		}
		&:first-child {
			height: $text-edit-element-size;
			width: $text-edit-element-size;
		}
	}
	& > .menu-item-round {
		@include round;
		height: $text-edit-element-size + 2 * $round-element-padding;
		width: $text-edit-element-size + 2 * $round-element-padding;
		padding: $round-element-padding;
	}
	&.show {
		visibility: visible;
		animation: fadeInSlideDown 0.3s ease-in-out forwards;
	}
}

// To make the color picker round
.color-picker-wrapper {
	@include round;
	@include text-edit-element;
	position: relative;
	height: $text-edit-element-size;
	width: $text-edit-element-size;
	padding: 0;
	overflow: hidden;
}
.color-picker-wrapper input[type="color"] {
	position: absolute;
	height: $color-picker-input-size-ratio * $text-edit-element-size;
	width: $color-picker-input-size-ratio * $text-edit-element-size;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	border: none;
	margin: 0;
	padding: 0;
}

#wrap-text-button {
	position: absolute;
	display: flex;
	padding: 8px;
	background-color: white;
	color: #007aff;
	border: none;
	border-radius: 50%;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	font-size: 18px;
	line-height: 1;
	transition: opacity 0.3s ease, transform 0.3s ease;
	z-index: 10;
	width: 32px;
	height: 32px;
	align-items: center;
	justify-content: center;
}

#wrap-text-button.show {
	visibility: visible;
	animation: fadeInSlideUp 0.3s ease-in-out forwards;
}

#wrap-text-button.hide {
	visibility: hidden;
}
@keyframes fadeInSlideUp {
	0% {
		opacity: 0;
		transform: translateY(25px);
	}
	75% {
		opacity: 1;
		transform: translateY(-7px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes fadeInSlideDown {
	0% {
		opacity: 0;
		transform: translateY(-25px);
	}
	75% {
		opacity: 1;
		transform: translateY(7px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
/* Define the flashing animation */
@keyframes flashText {
	0% {
		background-color: transparent;
		color: inherit;
	}
	50% {
		background-color: rgba(0, 122, 255, 0.8);
		color: white;
	}
	100% {
		background-color: transparent;
		color: inherit;
	}
}

/* Apply the animation to the text */
.flash {
	animation: flashText 1s ease-in-out;
}

.file-manager {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
	width: 400px;
	padding: 15px;

	&.show {
		display: block;
		visibility: visible;
		animation: fadeInSlideUp 0.3s ease-in-out forwards;
	}
	.file-manager-upload-drop-zone {
		width: 100%;
		height: 300px;
		background-color: $lighter-background-color;
		.file-manager-upload-input {
			display: none;
		}
	}
}
