@use "sass:math";

@import "core.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

$text-edit-element-size: 1.75em;
$editor-menu-padding: 0.75em;
$editor-menu-gap: 0em;
$round-element-padding: 0.33em;

@mixin round {
	border-radius: 50%;
	overflow: hidden;
}
@mixin text-edit-element {
	aspect-ratio: 1 / 1;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	line-height: $text-edit-element-size;
	vertical-align: middle;
	cursor: default;
}

.editor-menu {
	background-color: white;
	border-radius: $text-edit-element-size + 2 * $editor-menu-padding;
	width: min-content;
	height: $text-edit-element-size + 2 * $editor-menu-padding;
	box-sizing: border-box;
	padding: $editor-menu-padding;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	gap: $editor-menu-gap;
	font-family: "Inter", sans-serif;
	position: absolute;
	font-size: 1em;
	.font-selector,
	.font-size-selector {
		width: 1.66em;
	}
	.font-size-selector-wrapper {
		.font-size-selector {
			border: none;
			-moz-appearance: textfield;
			font-size: 1em;
			text-align: center;
			outline: none;
			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}
		}
		&:hover {
			background-color: $light-background-color;
			.font-size-selector {
				background-color: $light-background-color;
			}
		}
	}
	.bold-toggle {
		font-weight: bold;
	}
	.strikethrough-toggle {
		text-decoration: line-through;
	}
	.underline-toggle {
		text-decoration: underline;
	}
	.text-align-toggle,
	.copy-button,
	.bullet-point-toggle,
	.link-button,
	.delete-button,
	.options-button {
		// @include round;
		// @include text-edit-element;
	}
	& > * {
		user-select: none;
		@include text-edit-element;
		height: $text-edit-element-size + 2 * $editor-menu-padding;
		width: $text-edit-element-size + 2 * $editor-menu-padding;
		&:hover {
			background-color: $light-background-color;
		}
		&:first-child {
			height: $text-edit-element-size;
			width: $text-edit-element-size;
		}
	}
	& > .menu-item-round {
		@include round;
		height: $text-edit-element-size + 2 * $round-element-padding;
		width: $text-edit-element-size + 2 * $round-element-padding;
		padding: $round-element-padding;
	}
}
.color-picker-wrapper {
	@include round;
	@include text-edit-element;
	position: relative;
	height: $text-edit-element-size;
	width: $text-edit-element-size;
	padding: 0 !important;
}
.color-picker-wrapper input[type="color"] {
	position: absolute;
	height: math.div(8, 3) * $text-edit-element-size;
	width: math.div(8, 3) * $text-edit-element-size;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	border: none;
	margin: 0;
	padding: 0;
}
