@import "./core.scss";

main {
	width: 100%;
}

#homepage-content-wrapper {
	display: grid;
	gap: 2rem;
	padding: 1.25rem;
	width: 100%;
}

//Courses Setup and Grid
.course-grid,
.testimonial-grid {
	display: flex;
	flex-wrap: wrap;
	gap: 50px;
	justify-content: space-evenly;
	flex-direction: row;
}

.course-grid {
	.course {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 10px;
		padding: 20px;
		box-shadow: $standard-shadow;
		// border-radius: 8px;
		background-color: #fff;
		min-width: 1px;
		max-width: 305px;
		position: relative;
		.course-image {
			width: 100%;
			height: 50%;
			// border-radius: 8px;
			object-fit: cover;
		}
		.course-header {
			display: flex;
			padding: 10px 0;
			align-items: center;
			gap: 10px;
			justify-content: center;
			img {
				margin: 0;
			}
			h3 {
				flex: 1;
				margin: 0;
				font-size: 1.4em;
			}
		}
		p {
			font-size: 1em;
			color: #555;
			margin: 0;
		}

		.time_course-item {
			display: flex;
			align-items: center;
			.class-time img {
				width: 50px;
			}
			img {
				margin-right: 8px;
				width: 20px;
				height: auto;
			}
		}
	}
}

.education_icon,
.time_icon,
.cursor_icon {
	margin: 5px 0;
	width: 24px;
	height: auto;
}

//FOUNDERS
.founders-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	.founder {
		background-color: transparent;
		border-color: transparent;
		align-items: center;
		gap: 2rem;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: center;
		padding-top: 50px;
		position: relative;
		.founder-image {
			width: 150px !important;
			height: 150px;
			flex-shrink: 0;
			flex-grow: 0;
		}
		.founder-info {
			flex: 1;
			min-width: min-content;
			display: flex;
			flex-direction: column;
			gap: 0;
			.founder-name {
				font-size: 28px;
				flex-shrink: 1; /* Allow the header to shrink and wrap as a last resort */
				min-width: 100%; /* Make the header occupy full width to ensure it wraps last */
				white-space: normal; /* Allow the header to wrap */
			}
			.founder-role {
				font-weight: 300;
				font-size: 20px;
			}
			.founder-bio {
				font-size: 1.15rem;
				margin-top: 15px;
			}
		}
	}
}
.founders-background {
	position: absolute;
	top: 0;
	left: -40px;
	width: 105%;
	height: 105%;
	object-fit: fill;
	z-index: -1;
}

#founder-section {
	margin-top: 50px;
	margin-left: 20px;
}
#founder-phrase {
	margin-top: 20px;
	margin-left: 20px;
}

// TESTIMONIALS
#testimonial-section {
	padding-top: 50px;
	position: relative;
}
#testimonial-header {
	text-align: center;
	font-size: 28px;
	margin-bottom: 20px;
}

.testimonial-grid {
	.statement {
		background-color: transparent;
		border-color: transparent;
		position: relative;
		background-size: cover;
		background-position: center;
		height: 475px;
		min-width: 1px;
		max-width: 305px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 20px;
		// border-radius: 8px;
		box-shadow: $standard-shadow;
		.testimonial-quote {
			// flex: 1;
			height: 50%;
			margin: 0;
			padding: 20px;
			font-size: 1.1rem;
			background-color: white;
			overflow-y: auto;
			// background-color: rgba(255, 255, 255, 0.5);
			// backdrop-filter: blur(20px);
			// border-radius: 8px;
			font-weight: 300;
			display: flex;
			flex-direction: column;
			justify-content: center;
			// box-shadow: $standard-shadow;
		}
		.testimonial-person-wrapper {
			height: 50%;
			// flex: 1;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			img {
				border-radius: 50%;
				width: 125px;
				height: 125px;
			}
			// box-shadow: $standard-shadow;
		}
	}
}

.test-grid {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 70%;
	height: auto;
	gap: 10px;
}

.person1,
.person2,
.person3 {
	width: 100%;
	height: auto;
}

.testimonial-background {
	position: absolute;
	width: 105%;
	height: 110%;
	z-index: -1;
	top: -30px;
	left: -40px;
}
.mission .container {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	gap: 2rem;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;
	.image-section {
		flex: 1;
		width: 50%;
		max-width: 100%;
		min-width: 45%;
	}
	.text-section {
		flex: 1;
		min-width: 45%;
		width: 50%;
		max-width: 100%;
		display: flex;
		flex-direction: column;
		h2 {
			font-size: 1.75rem;
			font-weight: bold;
		}
		p {
			font-size: 1.25rem;
			font-weight: normal;
			hyphens: auto; /* Enables hyphenation according to language rules */
			word-break: break-word; /* Allows breaking words if necessary */
			overflow-wrap: anywhere; /* Ensures the word breaks to prevent overflow */
		}
	}
}

.hero .container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 2rem;
	flex-wrap: wrap-reverse;
	position: relative;
	.text-section {
		flex: 2;
		font-size: 1.5rem;
		font-family: "Fraunces", serif;
		font-weight: 400;
		min-width: 35%;
		width: fit-content;
		max-width: 80vw;
	}
	.image-section {
		flex: 3;
		min-width: 55%;
		width: fit-content;
		max-width: 80vw;
		img {
			box-shadow: 0 0 8px 8px $light-background-color inset;
		}
	}
}

.hero .image-section img,
.mission .image-section img {
	max-width: 100%;
	height: auto;
}

.course-background,
.testimonial-background {
	width: 100%;
}
