@import "core.scss";

$menu-bar-size: 50px;
.menu-bar {
	padding: 0;
	margin: 0;
	display: flex;
	list-style-type: none;
	align-items: center;
	position: relative;
	font-size: 18px;
	background-color: $dark-background-color;
	color: $light-font-color;
	& > li {
		padding: 0 17px;
		font-family: sans-serif;
		text-align: center;
		vertical-align: middle;
		text-wrap: nowrap;
		user-select: none;
		line-height: $menu-bar-size;
		cursor: default;
		&:hover {
			background-color: $accent-color;
		}
		&.clickable {
			cursor: pointer;
		}
	}
	& > .hover-menu {
		position: relative;
		font-family: sans-serif;
		& > .hover-menu__text {
			user-select: none;
			padding: 0 17px;
			line-height: $menu-bar-size;
			text-align: center;
			text-wrap: nowrap;
			&.clickable {
				cursor: pointer;
			}
		}
		& > .hover-menu__content {
			// background-color: $darker-background-color;
			color: $light-font-color;
			font-size: 16px;
			padding: 0;
			margin: 0;
		}
		&:hover > .hover-menu__text {
			background-color: $accent-color;
		}
	}
	&.horizontal {
		flex-direction: row;
		justify-content: left;
		height: $menu-bar-size;
		& > .hover-menu {
			height: 100%;
			& > .hover-menu__text {
				line-height: $menu-bar-size;
				height: 100%;
			}
		}
		& > li {
			height: 100%;
			line-height: $menu-bar-size;
		}
	}
	&.vertical {
		flex-direction: column;
		justify-content: start;
		width: max-content;
		& > .hover-menu {
			width: 100%;
			& > .hover-menu__text {
				width: 100%;
			}
		}
		& > li {
			width: 100%;
		}
	}
}

// Any hover menu. This is just functionality, no style.
.hover-menu {
	& > .hover-menu__text {
	}
	& > .hover-menu__content {
		position: absolute;
		display: none;
	}
	& > .hover-menu__content.bottom {
		top: 100%;
	}
	& > .hover-menu__content.top {
		bottom: 100%;
	}
	& > .hover-menu__content.left {
		right: 100%;
		top: 0;
	}
	& > .hover-menu__content.right {
		left: 100%;
		top: 0;
	}

	&:hover > .hover-menu__content {
		display: flex;
	}
}
