@import "./core.scss";

body {
	background-color: $light-background-color;
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-style: normal;
}

input[type="email"] {
	width: 400px;
	height: auto;
	padding: 10px;
	justify-content: flex-start;
	margin: 8px 0;
	box-sizing: border-box;
	border: 1px solid $border-input-color;
	border-radius: 10px;
	font-size: 16px;
	background-color: $light-background-color;
	color: #333;
}

input[type="password"] {
	// Styles for password input
}

input[type="text"] {
	// Styles for text input
}

.document-display-box {
	width: 500px;
	height: 500px;
	max-width: 100%;
	max-height: calc(100% - 200px);
	overflow-y: scroll;
	text-wrap: wrap;
	word-wrap: break-word;
	border: 2px solid black;
	padding: 10px;
}
