{% extends "layout.html" %} {% block title %}Writing in Color – Login{% endblock
%} {% block head %}
<script src="/static/javascript/bundle/login.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/jose@5.4.0/+esm"
	type="module"
></script>
<script src="https://unpkg.com/@simplewebauthn/browser/dist/bundle/index.es5.umd.min.js"></script>
{%endblock %} {% block body %}
<main
	style="
		width: 100vw;
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	"
>
	<h4 id="collection-message"></h4>
	<h2 id="collection-header"></h2>
	<form onsubmit="return false;" id="collection-form">
		<div id="collection-inputs"></div>
		<input type="submit" value="Next" />
	</form>
</main>
{% endblock %}
